body {
  min-height: 100vh;
}

.my_container {
  padding: 0 3%;
}

.my_navcontainer {
  margin: 0 8%;
}
.mycard-header {
  font-size: 30px !important;
  border-left: 0.25rem solid #36b9cc !important;
  border-right: 0.25rem soli.myd #36b9cc !important;
}



.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 6% 0;
}

.res_table{
    width: 50%;
    margin: auto;
}

.hero_text{
  width: 50%;
  margin-top: 5%;
}

.about_section{
  height: 100vh;
}

.about_img{
  height: 50%;
  width: 80%;
}



/* For Mobile Devices */
@media only screen and (max-width: 768px) {

    .res_table{
        width: 100%;
    }
  }


@media only screen and (max-width: 768px) {

    .hero_text{
        width: 100%;
    }

    .my_navcontainer {
      margin: 0!important ;
    }
  }